<html>
    <head>
        <title>Order</title>
    </head>
    <style>
        body,h1{
            text-align: center;
            font-family: system-ui;
            font-weight: lighter;
            font-size: xx-large;
            color: black;
            margin-top: 300px;
        }
        #text{
            margin: auto;
        }
    </style>
    <body>
        <h1>Hurray! Your order has been placed.<br>Continue shopping</h1>
        <a href="/" id="text">Back to home</a>
    </body>
</html>